{% extends 'base.html' %}
{%block title%}Admin Dashboard{%endblock%}
{% block content %}
<center>
    <h3>Ongoing Campaigns</h3>
    <div class="contatiner" style="max-width: 1100px;">
    <table class="table " style="text-align: center;">
        <thead >
        <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Campaign</th>
            <th scope="col">Campaign By</th>
            <th scope="col">Email</th>
            <th scope="col">Visibility</th>
            <!-- <th scope="col">Status</th> -->
            <th scope="col" colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for camp in camps%}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{camp.campaign_name}}</td>
            <td><a href="/get/{{camp.campaign_by}}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{camp.sponser.company_name}}</a></td>
            <td>{{camp.sponser.user.email}}</td>
            <td>{% if camp.visibility%}Public{%else%}Privet{%endif%}</td>
            <!-- <td></td> -->
            <td>
                <a href="/view/{{camp.campaign_id}}" class="btn btn-secondary">View</a> OR 
                <button type="button" class="btn btn-danger" id="{{camp.campaign_id}}" onclick="flag_camp('{{camp.campaign_id}}')">{%if camp.flag%}Un-Flag{%else%}Flag{%endif%}</button>
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    </div>
    {% for active_user in active_users%}
        <p>{{active_user}}</p>
    {%endfor%}
    
</center>
<script src="/st/js/submit.js"></script>
{%endblock%}