{% extends 'base.html' %}
{%block title%}Admin Dashboard{%endblock%}
{% block content %}
<center>
    <h3>Ongoing Campaigns</h3>
    <div class="contatiner" style="max-width: 1100px;">
    <table class="table " style="text-align: center;">
        <thead >
        <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Campaign</th>
            <th scope="col">Campaign By</th>
            <th scope="col">Email</th>
            <th scope="col">Visibility</th>
            <!-- <th scope="col">Status</th> -->
            <th scope="col">View</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for camp in camps%}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{camp.campaign_name}}</td>
            <td><a href="/get/{{camp.campaign_by}}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{camp.sponser.company_name}}</a></td>
            <td>{{camp.sponser.user.email}}</td>
            <td>{% if camp.visibility%}Public{%else%}Privet{%endif%}</td>
            <!-- <td></td> -->
            <td><a href="/view/{{camp.campaign_id}}" class="btn btn-secondary">View</a></td>
            <td>
                {%if camp.flag %}
                    <div id="flag_cont{{camp.campaign_id}}">
                        <button type="button" class="btn btn-danger" id="camp{{camp.campaign_id}}" onclick="flag_camp('{{camp.campaign_id}}', 'none')">Un-Flag</button>
                    </div>
                {%else%}
                    <div id="flag_cont{{camp.campaign_id}}">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <span id="camp{{camp.campaign_id}}">Flag</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" onclick="flag_camp('{{camp.campaign_id}}', 'inapropriate_user')">Hateful or targeting</button></li>
                                <li><button class="dropdown-item" onclick="flag_camp('{{camp.campaign_id}}', 'spam')">Spam</button></li>
                                <li><button class="dropdown-item" onclick="flag_camp('{{camp.campaign_id}}', 'inapropriate_content')">Inapropriate Content</button></li>
                            </ul>
                        </div>
                    </div>
                {%endif%}
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    </div>    
</center>
<script src="/st/js/submit.js"></script>
{%endblock%}