{% extends 'base.html' %}
{%block title%}{{page}}{%endblock%}
    {% block content %}
    
    {%if page == 'Requests'%}
    <center>
      {%if 'Sponser' in roles%}
      <h3>{{page}}</h3>
      <div class="contatiner" style="max-width: 1100px;">
        <table class="table " style="text-align: center;">
          <thead >
            <tr>
              <th scope="col">Sr. No.</th>
              <th scope="col">Request For</th>
              <th scope="col">Requested By</th>
              <th scope="col">Email</th>
              <th scope="col" colspan="2">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for request in rqst%}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td><a href="#" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{request.campaign.campaign_name}}</a></td>
              <td>{{request.influencer.name}}</td>
              <td><a href="#" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{request.influencer.user.email}}</a></td>
              <td>
                <a href="#"><button type="button" class="btn btn-success">Accept</button></a> OR 
                <a href="#"><button type="button" class="btn btn-danger">Reject</button></a>
              </td>

            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      <br><br><hr><br><br>
      {%endif%}
      {%if 'Influencer' in roles%}
      <div class="contatiner" style="max-width: 1100px;">
        <h3>My Requests</h3>
        <table class="table " style="text-align: center;">
          <thead >
            <tr>
              <th scope="col">Sr. No.</th>
              <th scope="col">Requested For</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for request in my_rqst%}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td><a href="#" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{request.campaign.campaign_name}}</a></td>
              <td>Some Status</td>
              <td>
                <a href="/view/{{request.campaign.campaign_id}}" class="btn btn-secondary">View</a>
                <a href="#"><button type="button" class="btn btn-success">Delete Request</button></a>
              </td>

            </tr>
            {%endfor%}
          </tbody>
        </table>
       </div> 
       {%endif%}

    </center>


    {%else%}
      <center>

        <div class="contatiner" id="campaigns" style="max-width: 600px;">
            {%for campaign in campaigns%}
              <div class="card mb-3 shadow-lg bg-body-tertiary rounded" id="{{campaign.campaign_id}}">
                  <img src="/st/uploads/{{campaign.image_path}}" class="card-img-top" alt="Wild Landscape"/>
                  <div class="card-body">
                    <h5 class="card-title">{{campaign.campaign_name}}</h5>
                    <p class="card-text">
                        {{campaign.desc}}
                    </p>
                    <p class="card-text">
                      <small class="text-muted">by -{{campaign.sponser.company_name}}</small></p>
                      {%if campaign.campaign_by == current_user.user_id%}
                      <a href="/view/{{campaign.campaign_id}}" class="btn btn-secondary">Edit/View Campaign</a>
                      {%else%}
                      <a href="/view/{{campaign.campaign_id}}" class="btn btn-secondary">View</a>
                      {%endif%}
                  </div>
                </div>
            {%endfor%}
        </div>
        
    </center>
    <script src="/st/js/submit.js"></script>
    {%endif%}

    {%endblock%}