{% extends 'base.html' %}
{%block title%}{{page}}{%endblock%}
{% block content %}
<style>
    body {
        background-color: #f8f9fa;
    }
    .profile-card {
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        /* margin-top: -75px; */
        border: 5px solid white;
    }
    .profile-info {
        margin-top: 20px;
    }
    .profile-info h2 {
        margin-bottom: 10px;
    }
</style>


<div class="container">
    <div class="profile-content text-center">
        <div class="profile-card bg-white p-4">
            <img src="/st/uploads/{{user.profile}}" alt="Profile Image" class="profile-img" id="profile-img"> 
            {%if user.user_id == current_user.user_id%}
                <button type="button" class="btn" onclick="profile_edit()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                </button> 
            {%endif%}
            <!-- Name -->
            <div class="profile-info">
                <h2  id="profile-name"> 
                    {%if 'Influencer' in roles %} {{inf.name}} {%else%} {{spn.company_name}} {%endif%} {%if user.user_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/{%if 'Influencer' in roles%}inf{%else%}spn{%endif%}`, 'profile-name', 'name')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                    </button>
                    {%endif%}
                </h2>
                <!-- Category -->
                <p class="text-muted">
                    {%if 'Influencer' in roles %} 
                    <strong>Category:</strong>
                    <span id="category">{{inf.category}} 
                        {%if user.user_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/{%if 'Influencer' in roles%}inf{%else%}spn{%endif%}`, `category`, 'category')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                        </button>
                        {%endif%}
                    </span> 
                    {%else%} 
                    <strong>Industry:</strong> 
                    <span id="category">{{spn.industry}} 
                        {%if user.user_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/{%if 'Influencer' in roles%}inf{%else%}spn{%endif%}`, `category`, 'category')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                        </button>
                        {%endif%}
                    </span>
                    {%endif%} 
                </p>
                <p><strong>Email:</strong> 
                    <span id="email">{{user.email}}
                        {%if user.user_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/user`, `email`, 'email')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                        </button>
                        {%endif%}
                    </span> 
                    
                </p>
                <p id="about">{%if 'Influencer' in roles %} {{inf.about}} {%else%} {{spn.about}} {%endif%}{%if user.user_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/{%if 'Influencer' in roles%}inf{%else%}spn{%endif%}`, `about`, 'about')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                        </button>
                    {%endif%}
                </p>
                {%for role in roles%}
                    <small class="text-muted">| {{role}} |</small>
                {%endfor%} <br><br>
                
            </div>
        </div>
    </div>
</div>
<script src="/st/js/profile_edits.js"></script>
{%endblock%}
