{% extends 'base.html' %}
{%block title%}{{page}}{%endblock%}
{% block content %}
<style>
    body {
        background-color: #f8f9fa;
    }
    .profile-card {
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        /* margin-top: -75px; */
        border: 5px solid white;
        object-fit: cover;
    }
    .profile-info {
        margin-top: 20px;
    }
    .profile-info h2 {
        margin-bottom: 10px;
    }
</style>


<div class="container">
    <div class="profile-content text-center">
        <div class="profile-card bg-white p-4">
            {%if 'Influencer' in role %}
            <img src="/st/uploads/{{inf.user.profile}}" alt="Profile Image" class="profile-img" id="profile-img"> 
            {%elif 'Sponser' in role%}
            <img src="/st/uploads/{{spn.user.profile}}" alt="Profile Image" class="profile-img" id="profile-img"> 
            {%else%}
            <img src="/st/uploads/{{adm.user.profile}}" alt="Profile Image" class="profile-img" id="profile-img"> 
            {%endif%}

            <!-- Name -->
            <div class="profile-info">
                <h2  id="profile-name"> 
                {%if 'Influencer' in role %} {{inf.name}} 
                    {%if inf.influencer_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/inf`, 'profile-name', 'name')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                    </button>
                    {%endif%}
                {%else%} 
                    {{spn.company_name}}
                    {%if spn.sponser_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/spn`, 'profile-name', 'name')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                        </button>
                    {%endif%} 
                {%endif%} 
                    
                </h2>
                <!-- Category -->
                <p class="text-muted">
                    {%if 'Influencer' in role %} 
                    <strong>Category:</strong>
                    <span id="category">{{inf.category}} 
                        {%if inf.influencer_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/inf`, `category`, 'category')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                        </button>
                        {%endif%}
                    </span> 
                    {%else%} 
                    <strong>Industry:</strong> 
                    <span id="category">{{spn.industry}} 
                        {%if spn.sponser_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/spn`, `category`, 'category')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                        </button>
                        {%endif%}
                    </span>
                    {%endif%} 
                </p>
                <p><strong>Email:</strong> 
                    {%if 'Influencer' in role %} 
                    <span id="email">{{inf.user.email}}</span>                    
                    {%else%}
                    <span id="email">{{spn.user.email}}</span>                    
                    {%endif%}
                </p>
                <p id="about">
                {%if 'Influencer' in role %} {{inf.about}} 
                    {%if inf.influencer_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/inf`, 'about', 'about')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                        </button>
                    {%endif%} 
                {%else%} 
                    {{spn.about}} 
                    {%if spn.sponser_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/spn`, 'about', 'about')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                        </button>
                    {%endif%} 
                {%endif%}
                    
                </p>
                {%for role in role%}
                    <small class="text-muted">| {{role}} |</small>
                {%endfor%} <br><br>
                
                {% if inf.influencer_id == current_user.user_id or spn.sponser_id == current_user.user_id %}
                    <a class="btn btn-secondary" href="{{url_for('home.update_imp')}}">Update Email/Password/Profile</a>
                {%endif%}

                {%if 'Influencer' in role %} 
                    {%if camps%}
                    <!-- Dropdown -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Colab
                        </button>
                        <ul class="dropdown-menu">
                            {%for camp in camps%}
                                <li><a class="dropdown-item" href="/sponser/send/rqst/{{inf.influencer_id}}/{{camp.campaign_id}}">{{camp.campaign_name}}</a></li>
                            {%endfor%}
                        </ul>
                    </div>
                    {%endif%}
                {%endif%}
                {%if 'Admin' in roles%}
                    <button type="button" class="btn btn-danger" id="user{{profile.user_id}}" onclick="flag_user('{{profile.user_id}}')">{%if profile.flag%}Un-Flag{%else%}Flag{%endif%}</button>
                {%endif%}
            </div>
        </div>
    </div>
</div>
<script src="/st/js/profile_edits.js"></script>
<script src="/st/js/submit.js"></script>
{%endblock%}
