{% extends 'base.html' %}
{%block title%}{{page}}{%endblock%}
{% block content %}
    
    <center>
      {%if requests%}
      <h3>{{page}}</h3>
      <div class="contatiner" style="max-width: 1100px;">
        <table class="table " style="text-align: center;">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Campaign Name</th>
              <th>Sponser</th>
              <th>Influencer</th>
              <th>Budget</th>
              <th>Negotiate_am</th>
              <th>Status</th>
              <th colspan="3">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for rqst in requests%}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td><a href="/view/{{rqst.campaign.campaign_id}}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{rqst.campaign.campaign_name}}</a></td>
              <td><a href="/get/{{rqst.campaign.campaign_by}}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{rqst.campaign.sponser.company_name}}</a></td>
              <td><a href="/get/{{rqst.influencer_id}}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{rqst.influencer.name}}</a></td>
              <td>{{rqst.campaign.budget}}</td>
              <td>{{rqst.n_amount}}</td>
              <td>{{rqst.status}}</td>
              <td>
                {%if rqst.status == 'Pending'%}
                  <a href="/requests/accept/{{rqst.request_id}}"><button type="button" class="btn btn-success">Accept</button></a>
                  <a href="/negotiate/{{rqst.request_id}}"><button type="button" class="btn btn-danger">Negotiate</button></a>
                  <a href="/delete/rqst/{{rqst.request_id}}"><button type="button" class="btn btn-danger">Delete</button></a>
                {%else%}
                  {{rqst.status}} <!--Change it to something good-->
                {%endif%}
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      {%else%}
        No Requests Right Now
      {%endif%}
      
    </center>
{%endblock%}
    