{% extends 'base.html' %}
{%block title%}{{page}}{%endblock%}

    {% block content %}
    <div class="container" style="max-width: 600px;">
        <center>
            <h1>{{page}}</h1>
        </center>
        <form method="post" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{ form.image.label(class="form-label d-block") }}
            {{ form.image(class="form-control") }}
            <br><br>
            <center>
                {{form.submit(class="btn btn-outline-secondary")}} <br>
            </center>
        </form>
    </div>

    {%endblock%}