{% extends 'base.html' %}
{%block title%}{{page}}{%endblock%}
{% block content %}
<div class="container">
    <div class="p-content text-center">
        {%if profile.flag%}
            <h3 style="color: red !important;">Flagged</h3>
            <p>{{profile.flag_reason}}</p>
        {%endif%}
        <div class="p-card p-4" >
            {%if 'Influencer' in role %}
            <img src="/st/uploads/{{inf.user.profile}}" alt="Profile Image" class="p-img" id="profile-img"> 
            {%elif 'Sponser' in role%}
            <img src="/st/uploads/{{spn.user.profile}}" alt="Profile Image" class="p-img" id="profile-img"> 
            {%else%}
            <img src="/st/uploads/{{adm.user.profile}}" alt="Profile Image" class="p-img" id="profile-img"> 
            {%endif%}

            <!-- Name -->
            <div class="p-info">
                <h2  id="profile-name"> 
                {%if 'Influencer' in role %} {{inf.name}} 
                    {%if inf.influencer_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/inf`, 'profile-name', 'name')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                    </button>
                    {%endif%}
                {%else%} 
                    {{spn.company_name}}
                    {%if spn.sponser_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/spn`, 'profile-name', 'name')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                        </button>
                    {%endif%} 
                {%endif%} 
                    
                </h2>
                <!-- Category -->
                <p class="text-muted">
                    {%if 'Influencer' in role %} 
                    <strong>Category:</strong>
                    <span id="category">{{inf.category}}</span> 
                    {%else%} 
                    <strong>Industry:</strong> 
                    <span id="category">{{spn.industry}}</span>
                    {%endif%} 
                </p>
                <p><strong>Email:</strong> 
                    {{profile.email}}
                </p>
                <p id="about">
                {%if 'Influencer' in role %} {{inf.about}} 
                    {%if inf.influencer_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/inf`, 'about', 'about')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                        </button>
                    {%endif%} 
                {%else%} 
                    {{spn.about}} 
                    {%if spn.sponser_id == current_user.user_id%}
                        <button type="button" class="btn" onclick="profile_edit_form(`/edit/spn`, 'about', 'about')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path></svg>
                        </button>
                    {%endif%} 
                {%endif%}
                </p>
                {%if 'Influencer' in roles%}
                <p>
                    Reach : {{inf.reach}}
                </p>
                {%endif%}
                {%if profile.user_id == current_user.user_id%}
                    <p id="wallet_balance">
                        <strong>Wallet Balance</strong>: <span>${{profile.wallet_balance}}</span> <a href="/wallet/add_balance" class="btn btn-info">Fill Your Wallet</a>
                    </p>
                {%endif%}
                {%if 'Sponser' in role%}
                    <small class="text-muted">View all camps by <a href="/sponser/campaigns/{{spn.sponser_id}}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><strong>{{spn.company_name}}</strong></a></small><br>
                {%elif 'Influencer' in role%}
                    <small class="text-muted">View all Posts by <a href="/influencer/posts/{{inf.influencer_id}}" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><strong>{{inf.name}}</strong></a></small><br>
                {%endif%}
                <small class="text-muted">| {{role[0]}} |</small>
                <br><br>
                
                {% if profile.user_id == current_user.user_id %}
                    <a class="btn btn-secondary" href="{{url_for('home.update_imp')}}">Update Email/Password/Profile</a>
                {%endif%}

                {%if 'Influencer' in role %} 
                    {%if camps%}
                    <!-- Dropdown -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Colab
                        </button>
                        <ul class="dropdown-menu">
                            {%for camp in camps%}
                                <li><a class="dropdown-item" href="/send/rqst/{{inf.influencer_id}}/{{camp.campaign_id}}">{{camp.campaign_name}}</a></li>
                            {%endfor%}
                        </ul>
                    </div>
                    {%endif%}
                {%endif%}
                {%if current_user.user_id == profile.user_id%}
                    <br><br><div class="delete">
                        <a href="/delete/account" class="btn btn-danger">--Delete Account--</a>
                    </div>
                {%endif%}
                {%if 'Admin' in roles%}
                        {%if profile.flag %}
                            <div id="flag_cont{{profile.user_id}}">
                                <button type="button" class="btn btn-danger" id="user{{profile.user_id}}" onclick="flag_user('{{profile.user_id}}', 'none')">Un-Flag</button>
                            </div>
                        {%else%}
                            <div id="flag_cont{{profile.user_id}}">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span id="user{{profile.user_id}}">Flag</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><button class="dropdown-item" onclick="flag_user('{{profile.user_id}}', 'inapropriate_user')">Inapropriate User</button></li>
                                        <li><button class="dropdown-item" onclick="flag_user('{{profile.user_id}}', 'spam')">Spam</button></li>
                                        <li><button class="dropdown-item" onclick="flag_user('{{profile.user_id}}', 'inapropriate_content')">Inapropriate Content</button></li>
                                    </ul>
                                </div>
                            </div>
                        {%endif%}
                {%endif%}
            </div>
        </div>
    </div>
</div>
<script src="/st/js/profile_edits.js"></script>
<script src="/st/js/submit.js"></script>
{%endblock%}
