{% extends 'base.html' %}
{%block title%}{{page}}{%endblock%}

    {% block content %}
    <div class="container" style="max-width: 600px;">
        <center>
            <h1> Register </h1>
        </center>
        <form method="post" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control")}} <br>

            {{form.password.label(class="form-label")}}
            {{form.password(class="form-control")}} <br>
            
            {{form.conf_password.label(class="form-label")}}
            {{form.conf_password(class="form-control")}} <br>

            {{form.role.label(class="form-label")}}<br>

            <div class="btn-group" role="group" aria-label="Roles">
                {%for sub_feild in form.role%}
                    {{sub_feild(class="btn-check")}}
                    {{sub_feild.label(class="btn btn-outline-primary")}}
                {%endfor%}
            </div><br><br>
            <div class="mb-3">
                {{ form.image.label(class="form-label d-block") }}
                {{ form.image(class="form-control") }}
            </div>
            <br><br>
            <center>
                {{form.submit(class="btn btn-outline-secondary")}} <br>
                <span>Already a User?<a href="{{url_for('user_auth.login')}}" class="link-secondary link-offset-2 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Login</a></span>
            </center>
        </form>
    </div>
    {%endblock%}